html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example {
  min-height: 200px;
	margin: auto 0;
  word-break: break-word;
  font-size: 24px;
}

.list-wrapper {
  min-height: 0;
  flex-grow: 1;
}

.list-table {
  table-layout: fixed;
}

.list-table__head {
  position: sticky;
	top: 0;
	z-index: 1;
}

.card ::selection {
  background-color: white;
  color: blue;
}
